<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1>Create Mandalart</h1>
  <form action="/mandalart/create" method="POST">
    <input type="hidden" name="userId" value="<%= user.user_id %>">
    <label for="centergoal">Center Goal:</label>
    <input type="text" name="centergoal" id="centergoal">
    <label for="tedolistCount">Number of Tasks (2-8):</label>
    <input type="number" name="tedolistCount" id="tedolistCount" min="2" max="8">
    <button type="submit">Create</button>
  </form>
</body>
</html>
