<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <header>
        <img src="/images/logo.png" alt="JOD" class="logo">
        <nav>
            <ul class="nav-links">
                <li><a href="/mandalart">My Mandalart</a></li>
                <li><a href="/share.html">Share</a></li>
                <li><a href="/profile.html">Profile</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="main-content">
            <img src="/images/logo_home.png" alt="Logo" class="logo-home">
        </div>
    </main>
</body>
</html>
