<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
  </head>
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/payment_result.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.9.6/lottie.min.js"></script>
  <body>
    <header id="main-header">
        <a href="/">
            <img src="/images/logo.svg" alt="logo" class="logo">
        </a>
        <button id="nav-toggle" class="nav-toggle">
            <span class="nav-icon"></span>
            <span class="nav-icon"></span>
            <span class="nav-icon"></span>
        </button>
        <nav id="main-navigation">
            <ul class="menu">
                <li class="menu-item"><button onclick="window.location.href='/mandalart'" class="nav-button">My Mandalart</button></li>
                <li class="menu-item"><button onclick="window.location.href='/share'" class="nav-button">Share</button></li>
                <li class="menu-item"><button onclick="window.location.href='/calendar'" class="nav-button">Calendar</button></li>
                <li class="menu-item"><button onclick="window.location.href='/profile'" class="nav-button">Profile</button></li>
            </ul>
        </nav>
    </header>
    
    <div class="main">
        <div id="lottie-animation" style="width: 213px; height: 321px;"></div>
        <div class="title">멤버십 결제가 완료되었습니다</div>
        <div class="subtitle">당신의 목표가 실현될 때까지 J00%와 함께해요!</div>

        <!-- paymentKey, orderId, amount를 표시할 요소 추가 -->
        <div id="paymentKey"></div>
        <div id="orderId"></div>
        <div id="amount"></div>
    </div>

    <script>
        var animation = lottie.loadAnimation({
            container: document.getElementById('lottie-animation'),
            renderer: 'svg',
            loop: true, 
            autoplay: true, 
            path: '/images/rocket.json' 
        });
        
        const urlParams = new URLSearchParams(window.location.search);
        const paymentKey = urlParams.get("paymentKey");
        const orderId = urlParams.get("orderId");
        const amount = urlParams.get("amount");

        async function confirm() {
            const requestData = {
                paymentKey: paymentKey,
                orderId: orderId,
                amount: amount,
            };

            try {
                const response = await fetch("/payment/confirm", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(requestData),
                });

                const json = await response.json();
                
                if (!response.ok) {
                    console.log("Error details:", json);
                    const errorMessage = encodeURIComponent(json.message || 'Unknown error');
                    const errorCode = encodeURIComponent(json.code || '500');
                    window.location.href = `/fail?message=${errorMessage}&code=${errorCode}`;
                    return;
                }

                console.log(json);
                // 성공적인 응답 후 페이지 업데이트
                document.getElementById("paymentKey").textContent = "결제 키: " + paymentKey;
                document.getElementById("orderId").textContent = "주문번호: " + orderId;
                document.getElementById("amount").textContent = "결제 금액: " + amount;

            } catch (error) {
                console.error("Failed to parse JSON:", error);
                window.location.href = `/fail?message=Failed%20to%20parse%20response&code=500`;
            }
        }

        confirm();
    </script>
  </body>
</html>
