body {
    font-family: Arial, sans-serif;
    background-color: #FFFBF1;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFBF1;
    color: #fff;
    padding: 1rem;
}

.logo {
    width: 150px;
    margin-right: 20px;
}

nav ul {
    list-style: none;
    margin-right: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
}

.nav-button {
    background: none;
    border: none;
    color: #000;
    font-weight: bold;
    font-size: 35px;
    cursor: pointer;
    padding: 5px 10px;
}

.nav-button.active {
    color: #006735;
}

.nav-button:hover {
    color: #006735;
}

/* 햄버거 메뉴 버튼 */
.nav-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: auto;
    margin-right: 10px;
    background: none;
    border: none;
}

.nav-toggle .nav-icon {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 4px 0;
    transition: all 0.3s;
}

/* 모바일 */
@media (max-width: 768px) {
    .nav-toggle {
        display: flex;
    }

    nav {
        display: none;
    }

    .active-header {
        background-color: #F4FFE8; /* 추가: header의 배경색 변경 */
    }
    nav.active {
        display: block;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #F4FFE8;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start; /* 수정: 모든 메뉴 항목을 왼쪽 정렬 */
        width: 100%;
        padding: 10px 0;
    }

    nav ul li {
        width: 100%;
        text-align: left; /* 수정: 왼쪽 정렬 */
        margin: 0;
        padding: 0 15px; /* 추가: 좌우 여백 추가 */
    }

    nav ul li:last-child {
        border-bottom: none;
    }

    .nav-button {
        width: 100%;
        padding: 10px 0;
        font-size: 18px;
        text-align: left; /* 수정: 버튼 내 텍스트 왼쪽 정렬 */
    }
}

@media (max-width: 480px) {
    header {
        padding: 10px;
    }

    .logo {
        width: 40px;
    }

    nav ul li a {
        font-size: 14px;
    }

    .nav-button {
        font-size: 15px;
    }
}
