#page-wrapper {
    display: flex; /* 캘린더와 체크리스트를 나란히 배치 */
    justify-content: center; /* 중앙 정렬 */
    align-items: flex-start; /* 상단 정렬 */
    gap: 50px; /* 간격 조정 */
    padding: 20px;
}

#calendar {
    width: 50%; /* 캘린더 너비 조정 */
    min-width: 300px; /* 최소 너비 설정 */
    height: auto; /* 높이 자동 조정 */
    
}

#details {
    display: none;
    width: 30%; /* 체크리스트 영역 너비 조정 */
    padding: 20px;
    border-radius: 8px;
    /*border: 2px solid #ccc;*/
    margin-top: 10px; /* 체크리스트 컨테이너를 아래로 이동 */
}

.todo-tabs-container {
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
}

.todo-tab {
    display: inline-block;
    background-color: #ccc;
    border: 1px solid #bbb;
    border-bottom: none;
    padding: 10px 20px;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-right: 5px;
    margin-bottom: -2px;
}

.todo-tab.active {
    background-color: #D1E4BE;
    font-weight: bold;
    border-color: #ddd;
}

.checklist-container {
    display: none;
}

.checklist-container.active {
    display: block;
}

.checklist-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checklist-item input {
    margin-right: 10px;
}

.todo-content {
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-height: 100px;
}

.empty-message {
    text-align: center;
    color: #888;
    font-style: italic;
}

.fc-today {
    background-color: #D1E4BE !important; 
    color: #000; 
}

.today-label {
    color: #006735; /* 원하는 색상으로 변경 */
    font-weight: bold; /* 텍스트 굵기 조정 (선택 사항) */
    margin-bottom: 10px; /* 아래 여백 추가 (선택 사항) */
}

