body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FFFBF1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-right: 350px;
}

.signin-box {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 600px; 
    height: auto;
    margin-bottom: 1.5rem;
    margin-left: 300px;
}

h2 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #333;
}

.input-group {
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.input-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

.btn {
    display: inline-block;
    width: 100%;
    padding: 0.75rem;
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
    cursor: pointer;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

.signup-link {
    color: #333;
    font-size: 0.875rem;
    text-decoration: none;
}

.signup-link:hover {
    text-decoration: underline;
}
